<ul *ngIf="this.taskService.tasks.length >= 1">
  <li *ngFor="let task of this.taskService.tasks"
      class="task-item"
      [ngClass]="{checked:task.completed}">
      {{task?.text}}
    <div>
      <button *ngIf="!task.completed"
              (click)="toggleTaskCompleted(task.id)"
              class="task-list-btn check-btn">
        Выполнено
      </button>
      <button *ngIf="task.completed"
              (click)="toggleTaskCompleted(task.id)"
              class="task-list-btn uncheck-btn">
        Отмена
      </button>

      <button [routerLink]="['/tasks/', task.id]"
              routerLinkActive="router-active-link"
              [routerLinkActiveOptions]="{ exact: true}"
              class="task-list-btn edit-btn">
        Редактировать
      </button>

      <button (click)="deleteTask(task.id)"
              class="task-list-btn delete-btn">
        Удалить
      </button>

    </div>
  </li>
</ul>
<p *ngIf="this.taskService.tasks.length === 0">Нет задач</p>
<button routerLink="/tasks/new"
        class="task-list-btn"
        style="margin-top: 5px"
>
  Добавить задачу
</button>
